{% extends 'layout.html.twig' %}

{% block title %}Collaborateurs{% endblock %}


{% block bannerTitle %}LISTE DES COLLABORATEURS{% endblock %}



{% block content %}
    <div>
        <table id="datatable_users" class="table table-striped table-hover">
        <thead class="thead-dark">
                <tr>
                    <th>Référence</th>
                    <th>Actif</th>
                    <th class="text-left">Collaborateur</th>
                    <th class="text-left">Service</th>
                    <th class="text-left">Fonction</th>
                    <th class="text-left">Type de contrat</th>
                    <th class="text-left">Actions</th>
                </tr>
        </thead>
        {% for employee in employees %}
            <tr>
                <th>{{employee['employee_hr_id']}}</th>
                <th>{% if employee['active'] == 0 %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}</th>
                <th>{{employee['firstName']}} {{employee['lastName']}}</th>
                <th>{{employee['service']}}</th>
                <th>{{employee['function']}}</th>
                <th></th>
                <th>
                    {#<form method="post" action="/employee/show/{{employee['employeeId']}}" />
                        <input type="submit" value="Valider" /></form>#}
                    <a href="/employee/show/{{employee['employeeId']}}" class="btn btn-primary btn-sm">Valider</a>
                </th>
            </tr>
        {%  endfor %}
{#            <th>{{test}}</th>#}
        </table>
       {# <p> Nb résultats par page :  {{resultPerPage}}</p>
        <p> Nb résultats par page :  {{pagesNeeded}}</p>
        <p> Current page :  {{currentPage}}</p>
        <p>Test on page : {{test}} </p>#}
        <div class="row">
            <div class="col-6">
                <nav class="float-right">
                    <ul class="pagination">
                        {% if currentPage != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/employee/index/{{ currentPage-1 }}" aria-label="Previous">
                                    <span aria-hidden="true">&Lang;</span>
                                    <span class="sr-only">Précédente</span>
                                </a>
                            </li>
                        {%  endif %}
                        <li class="page-item">
                            <a href="/employee/index/1"
                               class={% if currentPage == 1 %} "page-link selected" {% else %} "page-link"{%  endif %}>
                                1
                            </a>
                        </li>
                        {% if pagesNeeded > 2 %}
                            {% for i in 2..pagesNeeded - 1 %}
                            <li class="page-item">
                                <a href="/employee/index/{{ i }}"
                                   class={% if currentPage == i %} "page-link selected" {% else %} "page-link"{%  endif %}>
                                    {{ i }}
                                </a>
                            </li>
                            {% endfor %}
                        {%  endif %}
                        <li class="page-item">
                            <a href="/employee/index/{{ pagesNeeded }}"
                               class={% if currentPage == pagesNeeded %} "page-link selected" {% else %} "page-link"{%  endif %}>
                                {{ pagesNeeded }}
                            </a>
                        </li>
                        {% if currentPage != pagesNeeded %}
                        <li class="page-item">
                            <a class="page-link" href="/employee/index/{{ currentPage+1 }}" aria-label="Next">
                                <span aria-hidden="true">&Rang;</span>
                                <span class="sr-only">Suivante</span>
                            </a>
                        </li>
                        {%  endif %}
                    </ul>
                </nav>
            </div>
            <div class="col" >
                <p class="float-right mr-3"> Nb résultats :  {{employeesCount}}</p>
            </div>
        </div>
    </div>
{% endblock %}
