{% extends 'layout.html.twig' %}

{% block title %}CPA : Fiche collaborateur{% endblock %}

{% block bannerTitle %}FICHE COLLABORATEUR{% endblock %}



{% block content %}
    <div>
        {% if operation == 'edit' %}
            {% set formAction = ['/employee/edit/', employee[0]['id_employee']]|join('') %}
        {% elseif operation == 'add'  %}
            {% set formAction = '/employee/add' %}
        {% endif %}
        <form method="post" action="{{ formAction }}" class="form-group">
            {% if employee[0]['is_active'] == 0 %}
                {% set selectedActive = '' %}
            {% else %}
                {% set selectedActive = 'checked' %}
            {% endif %}
            <input type="hidden"
                   name="idEmployee"
                   id="idEmployee"
                   class="form-control"
                   tabindex="1"
                   value="{{ employee[0]['id_employee'] }}"
                    {{ disabled }}/>
            <input type="hidden"
                   name="idContact"
                   id="idContact"
                   class="form-control"
                   tabindex="2"
                   value="{{ employee[0]['id_contact'] }}"
                    {{ disabled }}/>
            <input type="hidden"
                   name="idContract"
                   id="idContract"
                   class="form-control"
                   tabindex="2"
                   value="{{ employee[0]['id_contract'] }}"
                    {{ disabled }}/></br>
            <div>
                <label for="isActive" class="mr-1" >Actif</label>
                <input type="checkbox"
                       name="isActive"
                       id="employeeIsActive"
                       class="form-control"
                       tabindex="4"
                       {{ selectedActive }}
                        {{ disabled }}/></br>
            </div>
            {% set tabIndex = 5 %}
            <div class="accordion" id="accordion">
                <div>
                    {% set titleCardToDisplay = 'informations personnelles' %}
                    {% set  idCard =  'personal_informations'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'employee_hr_id',
                            'inputType': 'text',
                            'nameInput': 'employeeHrId',
                            'idInput': 'employeeHrId',
                            'labelValue': 'Matricule'},
                        {
                            'entityRequest': employee[0],
                            'record': 'gender',
                            'inputType': 'select',
                            'selectType': 'Enum',
                            'selectRequest': genderEnum,
                            'nameInput': 'gender',
                            'idInput': 'gender',
                            'labelValue': 'Sexe'},
                        {
                            'entityRequest': employee[0],
                            'record': 'civility',
                            'inputType': 'select',
                            'selectType': 'Enum',
                            'selectRequest': civilityEnum,
                            'nameInput': 'civility',
                            'idInput': 'civility',
                            'labelValue': 'Civilité'},
                        {
                            'entityRequest': employee[0],
                            'record': 'last_name',
                            'inputType': 'text',
                            'nameInput': 'lastName',
                            'idInput': 'lastName',
                            'labelValue': 'Nom'},
                        {
                            'entityRequest': employee[0],
                            'record': 'first_name',
                            'inputType': 'text',
                            'nameInput': 'firstName',
                            'idInput': 'firstName',
                            'labelValue': 'Prénom'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'birth_date',
                            'inputType': 'date',
                            'nameInput': 'birthDate',
                            'idInput': 'birthDate',
                            'labelValue': 'Date de naissance'},
                        {
                            'entityRequest': employee[0],
                            'record': 'birth_place',
                            'inputType': 'text',
                            'nameInput': 'birthPlace',
                            'idInput': 'birthPlace',
                            'labelValue': 'Lieu de naissance'},
                        {
                            'entityRequest': employee[0],
                            'record': 'social_security_number',
                            'nameInput': 'socialSecurityNumber',
                            'idInput': 'socialSecurityNumber',
                            'labelValue': 'Numéro de sécurité sociale'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'coordonnées' %}
                    {% set  idCard =  'contacts'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'address_street_number',
                            'inputType': 'text',
                            'nameInput': 'addressStreetNumber',
                            'idInput': 'addressStreetNumber',
                            'labelValue': 'Numéro de rue'},
                        {
                            'entityRequest': employee[0],
                            'record': 'address_addition',
                            'inputType': 'text',
                            'nameInput': 'addressAddition',
                            'idInput': 'addressAddition',
                            'labelValue': "Complément d'adresse"},
                        {
                            'entityRequest': employee[0],
                            'record': 'address_street',
                            'inputType': 'text',
                            'nameInput': 'addressStreet',
                            'idInput': 'addressStreet',
                            'labelValue': 'Voie'},
                        {
                            'entityRequest': employee[0],
                            'record': 'address_zip_code',
                            'inputType': 'text',
                            'nameInput': 'addressZipCode',
                            'idInput': 'addressZipCode',
                            'labelValue': 'Code postal'},
                        {
                            'entityRequest': employee[0],
                            'record': 'address_city',
                            'inputType': 'text',
                            'nameInput': 'addressCity',
                            'idInput': 'addressCity',
                            'labelValue': 'Ville'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'phone_number',
                            'inputType': 'text',
                            'nameInput': 'phoneNumber',
                            'idInput': 'phoneNumber',
                            'labelValue': 'Numéro de tél. fixe perso.'},
                        {
                            'entityRequest': employee[0],
                            'record': 'cellphone_number',
                            'inputType': 'text',
                            'nameInput': 'cellphoneNumber',
                            'idInput': 'cellphoneNumber',
                            'labelValue': 'Numéro de tél. portable perso'},
                        {
                            'entityRequest': employee[0],
                            'record': 'personal_email_address',
                            'inputType': 'text',
                            'nameInput': 'personalEmailAddress',
                            'idInput': 'personalEmailAddress',
                            'labelValue': 'Adresse mail perso'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'contrat en cours' %}
                    {% set  idCard =  'contract'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'type_contract',
                            'inputType': 'select',
                            'selectType': 'Enum',
                            'selectRequest': contractTypeEnum,
                            'nameInput': 'typeContract',
                            'idInput': 'typeContract',
                            'labelValue': 'Type de contrat'},
                        {
                            'entityRequest': employee[0],
                            'record': 'starting_date',
                            'inputType': 'date',
                            'nameInput': 'startingDate',
                            'idInput': 'startingDate',
                            'labelValue': 'Date de début'},
                        {
                            'entityRequest': employee[0],
                            'record': 'end_date',
                            'inputType': 'date',
                            'nameInput': 'endDate',
                            'idInput': 'endDate',
                            'labelValue': 'Date de fin'},
                        {
                            'entityRequest': employee[0],
                            'record': 'on_going',
                            'inputType': 'checkbox',
                            'nameInput': 'onGoing',
                            'idInput': 'onGoing',
                            'labelValue': 'En cours'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'wage_first_year',
                            'inputType': 'text',
                            'nameInput': 'wageFirstYear',
                            'idInput': 'wageFirstYear',
                            'labelValue': 'Salaire 1e année'},
                        {
                            'entityRequest': employee[0],
                            'record': 'wage_second_year',
                            'inputType': 'text',
                            'nameInput': 'wageSecondYear',
                            'idInput': 'wageSecondYear',
                            'labelValue': 'Salaire 2e année'},
                        {
                            'entityRequest': employee[0],
                            'record': 'wage_third_year',
                            'inputType': 'text',
                            'nameInput': 'wageThirdYear',
                            'idInput': 'wageThirdYear',
                            'labelValue': 'Salaire 3e année'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'données bancaires' %}
                    {% set  idCard =  'bank_data'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'bank_name',
                            'inputType': 'text',
                            'nameInput': 'bankName',
                            'idInput': 'bankName',
                            'labelValue': 'Banque'},
                        {
                            'entityRequest': employee[0],
                            'record': 'bank_city',
                            'inputType': 'text',
                            'nameInput': 'bankCity',
                            'idInput': 'bankCity',
                            'labelValue': 'Ville'},
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'bank_iban',
                            'inputType': 'text',
                            'nameInput': 'bankIban',
                            'idInput': 'bankIban',
                            'labelValue': 'IBAN'},
                        {
                            'entityRequest': employee[0],
                            'record': 'bank_bic',
                            'inputType': 'text',
                            'nameInput': 'bankBic',
                            'idInput': 'bankBic',
                            'labelValue': 'BIC'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = "position dans l'entreprise" %}
                    {% set  idCard =  'bank_data'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'wage_ratio',
                            'inputType': 'text',
                            'nameInput': 'wageRatio',
                            'idInput': 'wageRatio',
                            'labelValue': 'Coefficient'},
                        {
                            'entityRequest': employee[0],
                            'record': 'wage_hiring',
                            'inputType': 'text',
                            'nameInput': 'wage_hiring',
                            'idInput': 'wage_hiring',
                            'labelValue': "Salarie à l'embauche"},
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': employee[0],
                            'record': 'fk_employeeFunction',
                            'inputType': 'select',
                            'selectType': 'Records',
                            'selectRequest': functionRecords,
                            'selectIdForRecords': 'id_employeeFunction',
                            'selectDisplayForRecords': ['label'],
                            'nameInput': 'fkEmployeeFunction',
                            'idInput': 'fkEmployeeFunction',
                            'labelValue': 'Fonction'},
                        {
                            'entityRequest': employee[0],
                            'record': 'fk_department',
                            'inputType': 'select',
                            'selectType': 'Records',
                            'selectRequest': departmentRecords,
                            'selectIdForRecords': 'id_department',
                            'selectDisplayForRecords': ['label'],
                            'nameInput': 'fkDepartment',
                            'idInput': 'fkDepartment',
                            'labelValue': 'Service'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
            </div>
            {# SUBMIT FORM AND CANCEL BUTTON#}
            {% if operation == 'edit' or operation == 'add'  %}
                <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            {% endif %}
            <a href="/employee/cancel" class="btn btn-danger">Annuler</a>
        </form>
    </div>
{% endblock %}