{% extends 'layout.html.twig' %}

{% block title %}CPA : Fiche collaborateur{% endblock %}

{% block bannerTitle %}FICHE COLLABORATEUR{% endblock %}



{% block content %}
    <div>
        <form method="post" action="/employee/edit/{{ entityRequest[0]['id_employee'] }}" class="form-group">

            {% if entityRequest[0]['active'] == 0 %}
                {% set selectedActive = '' %}
            {% else %}
                {% set selectedActive = 'selected' %}
            {% endif %}
            <input type="hidden"
                   name="idEmployee"
                   id="idEmployee"
                   class="form-control"
                   tabindex="1"
                   value="{{ entityRequest[0]['id_employee']}}"
                    {{ disabled }}/></br>
            <div>
                <label for="active" class="mr-1" >Actif</label>
                <input type="checkbox"
                       name="active"
                       id="employeeActive"
                       class="form-control"
                       tabindex="2"
                       checked="{{ selectedActive }}"
                        {{ disabled }}/></br>
            </div>
            {% set tabIndex = 3 %}
            <div class="accordion" id="accordion">
                <div>
                    {% set titleCardToDisplay = 'informations personnelles' %}
                    {% set  idCard =  'personal_informations'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'employee_hr_id',
                            'inputType': 'text',
                            'nameInput': 'employeeHrId',
                            'idInput': 'employeeHrId',
                            'labelValue': 'Matricule'},
                        {
                            'record': 'gender',
                            'inputType': 'select',
                            'selectRequest': genderEnum,
                            'nameInput': 'gender',
                            'idInput': 'gender',
                            'labelValue': 'Sexe'},
                        {
                            'record': 'civility',
                            'inputType': 'select',
                            'selectRequest': civilityEnum,
                            'nameInput': 'civility',
                            'idInput': 'civility',
                            'labelValue': 'Civilité'},
                        {
                            'record': 'last_name',
                            'inputType': 'text',
                            'nameInput': 'lastName',
                            'idInput': 'lastName',
                            'labelValue': 'Nom'},
                        {
                            'record': 'first_name',
                            'inputType': 'text',
                            'nameInput': 'firstName',
                            'idInput': 'firstName',
                            'labelValue': 'Prénom'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': 'birth_date',
                            'inputType': 'date',
                            'nameInput': 'birthDate',
                            'idInput': 'birthDate',
                            'labelValue': 'Date de naissance'},
                        {
                            'record': 'birth_place',
                            'inputType': 'text',
                            'nameInput': 'birthPlace',
                            'idInput': 'birthPlace',
                            'labelValue': 'Lieu de naissance'},
                        {
                            'record': 'social_security_number',
                            'nameInput': 'socialSecurityNumber',
                            'idInput': 'socialSecurityNumber',
                            'labelValue': 'Numéro de sécurité sociale'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'coordonnées' %}
                    {% set  idCard =  'contacts'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'address_street_number',
                            'inputType': 'text',
                            'nameInput': 'addressStreetNumber',
                            'idInput': 'addressStreetNumber',
                            'labelValue': 'Numéro de rue'},
                        {
                            'record': '	address_addition',
                            'inputType': 'text',
                            'nameInput': '	addressAddition',
                            'idInput': 'addressAddition',
                            'labelValue': "Complément d'adresse"},
                        {
                            'record': 'address_street',
                            'inputType': 'text',
                            'nameInput': 'addressStreet',
                            'idInput': 'addressStreet',
                            'labelValue': 'Voie'},
                        {
                            'record': 'address_zip_code',
                            'inputType': 'text',
                            'nameInput': 'addressZipCode',
                            'idInput': 'addressZipCode',
                            'labelValue': 'Code postal'},
                        {
                            'record': 'address_city',
                            'inputType': 'text',
                            'nameInput': 'addressCity',
                            'idInput': 'addressCity',
                            'labelValue': 'Ville'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': 'phone_number',
                            'inputType': 'text',
                            'nameInput': 'phoneNumber',
                            'idInput': 'phoneNumber',
                            'labelValue': 'Numéro de tél. fixe perso.'},
                        {
                            'record': 'cellphone_number',
                            'inputType': 'text',
                            'nameInput': 'cellphoneNumber',
                            'idInput': 'cellphoneNumber',
                            'labelValue': 'Numéro de tél. portable perso'},
                        {
                            'record': 'personal_email_address',
                            'inputType': 'text',
                            'nameInput': 'personalEmailAddress',
                            'idInput': 'personalEmailAddress',
                            'labelValue': 'Adresse mail perso'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'contrat en cours' %}
                    {% set  idCard =  'contract'%}
{#                    TODO : select#}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'type_contract',
                            'inputType': 'select',
                            'selectRequest': contractTypeEnum,
                            'nameInput': 'typeContract',
                            'idInput': 'typeContract',
                            'labelValue': 'Type de contrat'},
                        {
                            'record': 'starting_date',
                            'inputType': 'date',
                            'nameInput': 'startingDate',
                            'idInput': 'startingDate',
                            'labelValue': 'Date de début'},
                        {
                            'record': 'end_date',
                            'inputType': 'date',
                            'nameInput': 'endDate',
                            'idInput': 'endDate',
                            'labelValue': 'Date de fin'},
                        {
                            'record': 'on_going',
                            'inputType': 'checkbox_one',
                            'nameInput': 'onGoing',
                            'idInput': 'onGoing',
                            'labelValue': 'En cours'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': '	wage_first_year',
                            'inputType': 'text',
                            'nameInput': 'wageFirstYear',
                            'idInput': 'wageFirstYear',
                            'labelValue': 'Salaire 1e année'},
                        {
                            'record': '	wage_second_year',
                            'inputType': 'text',
                            'nameInput': 'wageSecondYear',
                            'idInput': 'wageSecondYear',
                            'labelValue': 'Salaire 2e année'},
                        {
                            'record': '	wage_third_year',
                            'inputType': 'text',
                            'nameInput': 'wageThirdYear',
                            'idInput': 'wageThirdYear',
                            'labelValue': 'Salaire 3e année'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'données bancaires' %}
                    {% set  idCard =  'bank_data'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'bank_name',
                            'inputType': 'text',
                            'nameInput': 'bankName',
                            'idInput': 'bankName',
                            'labelValue': 'Banque'},
                        {
                            'record': 'bank_city',
                            'inputType': 'text',
                            'nameInput': 'bankCity',
                            'idInput': 'bankCity',
                            'labelValue': 'Ville'},
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': 'bank_iban',
                            'inputType': 'text',
                            'nameInput': 'bankIban',
                            'idInput': 'bankIban',
                            'labelValue': 'IBAN'},
                        {
                            'record': 'bank_bic',
                            'inputType': 'text',
                            'nameInput': 'bankBic',
                            'idInput': 'bankBic',
                            'labelValue': 'BIC'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = "position dans l'entreprise" %}
                    {% set  idCard =  'bank_data'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'wage_ratio',
                            'inputType': 'text',
                            'nameInput': 'wageRatio',
                            'idInput': 'wageRatio',
                            'labelValue': 'Coefficient'},
                        {
                            'record': 'wage_hiring',
                            'inputType': 'text',
                            'nameInput': 'wage_hiring',
                            'idInput': 'wage_hiring',
                            'labelValue': "Salarie à l'embauche"},
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': 'department',
                            'inputType': 'text',
                            'nameInput': 'department',
                            'idInput': 'department',
                            'labelValue': 'Service'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
            </div>
            {% if operation == 'edit' or operation == 'add'  %}
                <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            {% endif %}
        </form>
    </div>
{% endblock %}
