
{% block content %}

    <h2>
        <button>
            Fiche produit - CPA
        </button>
    </h2>

    <p>Référence produit :
        {{ product.0.id_product }}
    </p>

    <p>Nom du produit :
        {{ product.0.label }}
    </p>

    <p>Type du produit :
        {{ product.0.fk_productType }}
    </p>

    <p>Prix :
        {{ product.0.price }} €.
    </p>

    <p>TVA appliquée :
        {{ product.0.fk_tva }}
    </p>

    <p>Commentaire :
        {{ product.0.comment_product }}
    </p>

{% endblock %}