<div class="card mr-4 mb-4">
    <div class="card-header text-white bg-dark uppercase">{{ titleCardToDisplay }}
        {#COLLAPSE BUTTON#}
        <button class="btn btn-secondary btn-sm float-right" type="button" data-toggle="collapse" data-target="#{{ idCard }}"
                aria-expanded="true aria-controls="{{ idCard }}"> <span aria-hidden="true">&triangledown;</span>
        <span class="sr-only">Déplier-Replier</span></button>
        {#DELETE BUTTON#}
        {% if deletable and (operation == 'edit' or operation == 'add' ) %}
            <a href="/individualcustomer/show/{{customer['id_customer']}}" class="btn btn-danger btn-sm float-right mr-3"
               aria-label="Delete">X</a>
        {% endif %}
    </div>
    {% set tabIndexBeforeCard = tabIndex %}
    {# Determine if fields must be in read only #}
    {% if operation == 'edit' or operation == 'add'  %}
        {% set disabled = '' %}
    {% else %}
        {% set disabled = 'disabled' %}
    {% endif %}
    <div id="{{ idCard }}" class="collapse show" aria-labelledby="{{ idCard }}" data-parent="{{ accordion }}">
        <div class="card-body">
            <div class="row mb-1 mt-1">
                <div class="col-2 ">
                    <label for="discount" class="mr-1" >Remise globale appliquée au montant HT (en %)</label>
                </div>
                <div class="col-2 ">
                    <input type="number"
                           name="discount"
                           id="discount"
                           class="form-control mb-3"
                           tabindex="{{ tabIndexBeforeCard+1 }}"
                           value="{{ sale[0]['discount'] }}"
                            {{ disabled }} />
                </div>
            </div>
            <table id="datatable_products" class="table table-striped table-hover">
                <thead class="thead-light">
                <tr>
                    {% for headline in headlinesToDisplay %}
                        <th class="text-left">{{ headline }}</th>
                    {%  endfor %}
                </tr>
                </thead>
                {% for product in productsRecords %}
                    <tr>
                        <th><a href="/product/show/{{product['id_product']}}" class="">{{ product['label'] }}</a></th>
                        {% for field in fieldsOnReadOnly %}
                            <th>{{ product[field] }}</th>
                        {%  endfor %}
                        {% for currentRow in 0..lengthFillableFields-1 %}
                            <th>
                                <input type="text"
                                       name="{{ [fillableFields[currentRow]['nameInput'], product['id_product']]|join('')  }}"
                                       id="{{ [fillableFields[currentRow]['idInput'], product['id_product']]|join('') }}"
                                       class="form-control"
                                       tabindex="{{ tabIndexBeforeCard+1 }}"
                                       value="{{ product[fillableFields[currentRow]['record']]}}"
                                        {{ disabled }} />
                            </th>
                        {%  endfor %}
                    </tr>
                {%  endfor %}
            </table>
        </div>
    </div>
</div>