{% extends 'layout.html.twig' %}

{% block title %}CPA : Fiche Vente{% endblock %}

{% block bannerTitle %}FICHE VENTE{% endblock %}



{% block content %}
    <div>
        {% if operation == 'edit' %}
            {% set formAction = ['/sale/edit/', sale[0]['id_sale']]|join('') %}
        {% elseif operation == 'add'  %}
            {% set formAction = '/sale/add' %}
        {% endif %}
        <form method="post" action="{{ formAction }}" class="form-group">
            <input type="hidden"
                   name="idSale"
                   id="idSale"
                   class="form-control"
                   tabindex="1"
                   value="{{ sale[0]['id_sale'] }}"
                    {{ disabled }}/>
            <input type="hidden"
                   name="idContact"
                   id="idContact"
                   class="form-control"
                   tabindex="2"
                   value="{{ sale[0]['id_contact'] }}"
                    {{ disabled }}/>
            {% set tabIndex = 3 %}
            <div class="accordion" id="accordion">
                <div>
                    {% set titleCardToDisplay = 'informations' %}
                    {% set  idCard =  'informations'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': sale[0],
                            'record': 'date_sale',
                            'inputType': 'date',
                            'nameInput': 'dateSale',
                            'idInput': 'dateSale',
                            'labelValue': 'Date de vente'},
                        {
                            'entityRequest': sale[0],
                            'record': 'status_sale',
                            'inputType': 'select',
                            'selectType': 'Enum',
                            'selectRequest': statusEnum,
                            'nameInput': 'statusSale',
                            'idInput': 'statusSale',
                            'labelValue': 'Statut'},
                    ] %}
                    {% if customerType == '1' %}
                        {% set customerSelectValueForRecords = ['corporate_name', 'last_name', 'first_name'] %}
                    {% elseif customerType == '2'  %}
                        {% set customerSelectValueForRecords = ['last_name', 'first_name'] %}
                    {% endif %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': sale[0],
                            'record': 'id_customer',
                            'inputType': 'select',
                            'selectType': 'Records',
                            'selectValueForRecords': customerSelectValueForRecords,
                            'selectRequest': customerRecords,
                            'nameInput': '',
                            'idInput': '',
                            'labelValue': 'Client'},
                        {
                            'entityRequest': sale[0],
                            'record': 'to_deliver',
                            'inputType': 'checkbox',
                            'nameInput': 'toDeliver',
                            'idInput': 'toDeliver',
                            'labelValue': 'A livrer in-situ'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig' %}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'produits' %}
                    {% set  idCard =  'products' %}
                    {% set headlinesToDisplay = [
                        'Référence', 'Type', 'Stock', 'Prix unitaire HT', 'TVA', 'Quantité',
                        'Remise', 'Prix de vente réel HT', 'Prix de vente réel TTC'
                    ] %}
                    {% set identifier = 'label'%}
                    {% set fieldsOnReadOnly = ['producttype', 'stock', 'price', 'ratio'] %}
                    {% set fillableFields = ['quantity', 'discount'] %}
                    {% set finalised_price = ['finalised_price', ''] %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include 'Sale/_cardProductTable.html.twig' %}
{#                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}#}
                </div>
                <div>
                    {% set titleCardToDisplay = 'prix' %}
                    {% set  idCard =  'prices'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': sale[0],
                            'record': 'global_price_original',
                            'inputType': 'number',
                            'nameInput': 'globalPriceOriginal',
                            'idInput': 'globalPriceOriginal',
                            'labelValue': 'Montant global HT'},
                        {
                            'entityRequest': sale[0],
                            'record': 'discount',
                            'inputType': 'number',
                            'nameInput': 'discount',
                            'idInput': 'discount',
                            'labelValue': 'Remise globale appliquée au montant HT (en %)'},
                        {
                            'entityRequest': sale[0],
                            'record': 'global_price_finalised',
                            'inputType': 'number',
                            'nameInput': 'globalPriceFinalised',
                            'idInput': 'globalPriceFinalised',
                            'labelValue': 'Montant global TTC'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {},
                        {
                            'entityRequest': sale[0],
                            'record': '',
                            'inputType': 'number',
                            'nameInput': 'discountSum',
                            'idInput': 'discountSum',
                            'labelValue': 'Montant remisé'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
            </div>
            {# SUBMIT FORM AND CANCEL BUTTON#}
            {% if operation == 'edit' or operation == 'add'  %}
                <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            {% endif %}
            <a href="/sale/cancel" class="btn btn-danger">Annuler</a>
        </form>
    </div>
{% endblock %}