{% extends 'layout.html.twig' %}

{% block title %}CPA : Fiche Vente{% endblock %}

{% block bannerTitle %}FICHE VENTE{% endblock %}



{% block content %}
    <div>
        {% if operation == 'edit' %}
            {% if customerType == '1' %}
                {% set formAction = ['/sale/editIndividual/', sale[0]['id_sale']]|join('') %}
            {% else %}
                {% set formAction = ['/sale/editProfessional', sale[0]['id_sale']]|join('')  %}
            {% endif %}
        {% elseif operation == 'edit' %}
            {% if customerType == '1' %}
                {% set formAction = ['/sale/addIndividual', sale[0]['id_sale']]|join('')  %}
            {% else %}
                {% set formAction = ['/sale/addProfessional', sale[0]['id_sale']]|join('')  %}
            {% endif %}
        {% endif %}
        <form method="post" action="{{ formAction }}" class="form-group">
            <input type="hidden"
                   name="idSale"
                   id="idSale"
                   class="form-control"
                   tabindex="1"
                   value="{{ sale[0]['id_sale'] }}"
                    {{ disabled }}/>
            <input type="hidden"
                   name="idContact"
                   id="idContact"
                   class="form-control"
                   tabindex="2"
                   value="{{ sale[0]['id_contact'] }}"
                    {{ disabled }}/>
            {% set tabIndex = 3 %}
            <div class="accordion" id="accordion">
                <div>
                    {% set titleCardToDisplay = 'informations' %}
                    {% set  idCard =  'informations'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': sale[0],
                            'record': 'date_sale',
                            'inputType': 'date',
                            'nameInput': 'dateSale',
                            'idInput': 'dateSale',
                            'labelValue': 'Date de vente'},
                        {
                            'entityRequest': sale[0],
                            'record': 'status_sale',
                            'inputType': 'select',
                            'selectType': 'Enum',
                            'selectRequest': statusEnum,
                            'nameInput': 'statusSale',
                            'idInput': 'statusSale',
                            'labelValue': 'Statut'},
                    ] %}
                    {% if customerType == '1' %}
                        {% set customerSelectValueForRecords = ['contactIdentity'] %}
                    {% elseif customerType == '2'  %}
                        {% set customerSelectValueForRecords = ['corporate_name', 'contactIdentity'] %}
                    {% endif %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': sale[0],
                            'record': 'id_customer',
                            'inputType': 'select',
                            'selectType': 'Records',
                            'selectRequest': customerRecords,
                            'selectIdForRecords': 'id_customer',
                            'selectDisplayForRecords': customerSelectValueForRecords,
                            'nameInput': 'idCustomer',
                            'idInput': 'idCustomer',
                            'labelValue': 'Client'},
                        {
                            'entityRequest': sale[0],
                            'record': 'to_deliver',
                            'inputType': 'checkbox',
                            'nameInput': 'toDeliver',
                            'idInput': 'toDeliver',
                            'labelValue': 'A livrer in-situ'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig' %}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'produits' %}
                    {% set  idCard =  'products' %}
                    {% set headlinesToDisplay = [
                        'Référence', 'Type', 'Stock', 'Prix unitaire HT', 'Quantité', 'Remise'
                    ] %}
                    {% set fieldsOnReadOnly = ['type', 'stock', 'price'] %}
                    {% set fillableFields = [
                        {
                        'record':'quantity',
                        'nameInput': 'quantity',
                        'idInput': 'quantity'
                        },
                        {
                            'record':'discount_percentage',
                            'nameInput': 'productDiscount',
                            'idInput': 'productDiscount'
                        }
                    ] %}
                    {% set lengthFillableFields = fillableFields | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include 'Sale/_cardProductTable.html.twig' %}
{#                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}#}
                </div>
                {% if operation == 'edit' or operation == 'show'  %}
                    <div>
                        {% set titleCardToDisplay = 'recapitulatif' %}
                        {% set  idCard =  'prices'%}
                        {% set fieldToDisplayCol1 = [
                            {
                                'entityRequest': sale[0],
                                'record': 'global_price_original',
                                'inputType': 'number',
                                'nameInput': 'globalPriceOriginal',
                                'idInput': 'globalPriceOriginal',
                                'labelValue': 'Montant global HT'},
                            {
                                'entityRequest': sale[0],
                                'record': 'global_price_finalised',
                                'inputType': 'number',
                                'nameInput': 'globalPriceFinalised',
                                'idInput': 'globalPriceFinalised',
                                'labelValue': 'Montant global TTC'}
                        ] %}
                        {% set fieldToDisplayCol2 = [
                            {
                                'entityRequest': sale[0],
                                'record': 'discount_percentage',
                                'inputType': 'number',
                                'nameInput': 'discountSalePercentage',
                                'idInput': 'discountSalePercentage',
                                'labelValue': 'Remise globale appliquée au montant HT (en %)'}
                        ] %}
                        {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                        {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                        {% set tabIndexBeforeCard = tabIndex %}
                        {% include '_form_components/_cardForm.html.twig'%}
                        {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                    </div>
                {% endif %}
            </div>
            {# SUBMIT FORM AND CANCEL BUTTON#}
            {% if operation == 'edit' or operation == 'add'  %}
                <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            {% endif %}
            <a href="/sale/cancel" class="btn btn-danger">Annuler</a>
        </form>
    </div>
{% endblock %}