{% extends 'layout.html.twig' %}

{% block bannerTitle %}Liste des utilisateurs de la plateforme{% endblock %}

{% block content %}
    <div class="container-bouton mr-auto w-50">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-3 text-white btn extract-pdf-btn" href="{{ root }}/user/add/">
                    <i class="fas fa-plus-square" style="color: white"></i>Ajouter un utilisateur
                </a>
            </li>
        </ul>
    </div>
    <nav>
        <div class="nav nav-tabs w-5" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active w-50" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">
                Liste des utilisateurs <span class="font-weight-bold">actifs </span>
            </a>

            <a class="nav-item nav-link w-50 h-20" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">
                Liste des utilisateurs <span class="font-weight-bold">inactifs </span>
            </a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="container-fluid px-0">
                <table class="table table-hover font-abel text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th> Identifiant de connexion</th>
                        <th> Prénom et Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for activeUser in activeUsers %}

                        <tr>
                            <td>{{ activeUser.login }}</td>
                            <td>{{ activeUser.first_name }} {{ activeUser.last_name }}</td>
                            <td>
                                <a href="/user/show/{{ activeUser.id_users }}"><i class="far fa-eye"></i></a>
                                <a href="/user/edit/{{ activeUser.id_users }}"><i class="fas fa-edit"></i></a>

                                {%  if "AU" in session.permissions %}
                                <a href="/user/delete/{{ activeUser.id_users }}"><i class="fas fa-user-times"></i></a>
                                {% endif %}

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Il n'y a pas d'utilisateurs actifs</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="container-fluid px-0">


                <table class="table table-hover font-abel text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th> Identifiant de connexion</th>
                        <th> Prénom et Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inactiveUser in inactiveUsers %}
                        <tr>
                            <td>{{ inactiveUser.login }}</td>
                            <td>{{ inactiveUser.first_name }} {{ inactiveUser.last_name }}</td>
                            <td>
                                <a href="/user/show/{{ inactiveUser.id_users }}"><i class="far fa-eye"></i></a>
                                <a href="/user/edit/{{ inactiveUser.id_users }}"><i class="fas fa-edit"></i></a>
                                <a href="/user/delete/{{ inactiveUser.id_users }}"><i class="fas fa-user-times"></i></a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Il n'y a pas d'utilisateurs inactifs</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
