{% extends 'layout.html.twig' %}

{% block title %}CPA : Fiche client particulier{% endblock %}

{% block bannerTitle %}FICHE CLIENT PARTICULIER{% endblock %}



{% block content %}
    <div>
        {% if operation == 'edit' %}
            {% set formAction = ['/individualCustomer/edit/', individualCustomer[0]['id_customer']]|join('') %}
        {% elseif operation == 'add'  %}
            {% set formAction = '/individualCustomer/add' %}
        {% endif %}
        <form method="post" action="{{ formAction }}" class="form-group">
            <input type="hidden"
                   name="idCustomer"
                   id="idCustomer"
                   class="form-control"
                   tabindex="1"
                   value="{{ individualCustomer[0]['id_customer'] }}"
                    {{ disabled }}/>
            <input type="hidden"
                   name="idContact"
                   id="idContact"
                   class="form-control"
                   tabindex="2"
                   value="{{ individualCustomer[0]['id_contact'] }}"
                    {{ disabled }}/>
            {% set tabIndex = 3 %}
            <div class="accordion" id="accordion">
                <div>
                    {% set titleCardToDisplay = 'informations personnelles' %}
                    {% set  idCard =  'personal_informations'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'last_name',
                            'inputType': 'text',
                            'nameInput': 'lastName',
                            'idInput': 'lastName',
                            'labelValue': 'Nom'},
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'first_name',
                            'inputType': 'text',
                            'nameInput': 'firstName',
                            'idInput': 'firstName',
                            'labelValue': 'Prénom'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'coordonnées' %}
                    {% set  idCard =  'contacts'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'address_street_number',
                            'inputType': 'text',
                            'nameInput': 'addressStreetNumber',
                            'idInput': 'addressStreetNumber',
                            'labelValue': 'Numéro de rue'},
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'address_addition',
                            'inputType': 'text',
                            'nameInput': 'addressAddition',
                            'idInput': 'addressAddition',
                            'labelValue': "Complément d'adresse"},
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'address_street',
                            'inputType': 'text',
                            'nameInput': 'addressStreet',
                            'idInput': 'addressStreet',
                            'labelValue': 'Voie'},
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'address_zip_code',
                            'inputType': 'text',
                            'nameInput': 'addressZipCode',
                            'idInput': 'addressZipCode',
                            'labelValue': 'Code postal'},
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'address_city',
                            'inputType': 'text',
                            'nameInput': 'addressCity',
                            'idInput': 'addressCity',
                            'labelValue': 'Ville'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'phone_number',
                            'inputType': 'text',
                            'nameInput': 'phoneNumber',
                            'idInput': 'phoneNumber',
                            'labelValue': 'Numéro de tél. fixe perso.'},
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'cellphone_number',
                            'inputType': 'text',
                            'nameInput': 'cellphoneNumber',
                            'idInput': 'cellphoneNumber',
                            'labelValue': 'Numéro de tél. portable perso'},
                        {
                            'entityRequest': individualCustomer[0],
                            'record': 'personal_email_address',
                            'inputType': 'text',
                            'nameInput': 'personalEmailAddress',
                            'idInput': 'personalEmailAddress',
                            'labelValue': 'Adresse mail perso'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                {# Counter for vehicle cards #}
                {% set counterVehicles = 0 %}
                {# DISPLAY VEHICLES #}
                {% for vehicle in vehicles %}
                    {% set counterVehicles = counterVehicles + 1 %}
                    <div>
                        {% set titleCardToDisplay = ['vehicle ', counterVehicles]|join('') %}
                        {% set  idCard =  'vehicles'%}
                        {% set deletable = true %}
                        {% set  tableToDelete =  'vehicle'%}
                        {% set fieldToDisplayCol1 = [
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'id_vehicle',
                                'inputType': 'hidden',
                                'nameInput': ['idVehicle', counterVehicles]|join(''),
                                'idInput': ['idVehicle', counterVehicles]|join(''),
                                'labelValue': 'ID Véhicule'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'license_plate',
                                'inputType': 'text',
                                'nameInput': ['licensePlate', counterVehicles]|join(''),
                                'idInput': ['licensePlate', counterVehicles]|join(''),
                                'labelValue': 'Plaque immatriculation'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'make',
                                'inputType': 'text',
                                'nameInput': ['make', counterVehicles]|join(''),
                                'idInput': ['make', counterVehicles]|join(''),
                                'labelValue': 'Marque'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'model',
                                'inputType': 'text',
                                'nameInput': ['model', counterVehicles]|join(''),
                                'idInput': ['model', counterVehicles]|join(''),
                                'labelValue': 'Modèle'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'fiscal_horse_power',
                                'inputType': 'text',
                                'nameInput': ['fiscalHorsePower', counterVehicles]|join(''),
                                'idInput': ['fiscalHorsePower', counterVehicles]|join(''),
                                'labelValue': 'Chevaux fiscaux'}
                        ] %}
                        {% set fieldToDisplayCol2 = [
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'manufacture_year',
                                'inputType': 'text',
                                'nameInput': ['manufactureYear', counterVehicles]|join(''),
                                'idInput': ['manufactureYear', counterVehicles]|join(''),
                                'labelValue': 'Année de fabrication'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'energy_type',
                                'inputType': 'select',
                                'selectRequest': energyTypeEnum,
                                'nameInput': ['energyType', counterVehicles]|join(''),
                                'idInput': ['energyType', counterVehicles]|join(''),
                                'labelValue': 'Carburant'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'gear_box',
                                'inputType': 'select',
                                'selectRequest': gearBoxTypeEnum,
                                'nameInput': ['gearBoxLabel', counterVehicles]|join(''),
                                'idInput': ['gearBoxLabel', counterVehicles]|join(''),
                                'labelValue': 'Boite à vitesse'},
                            {
                                'entityRequest': vehicles[counterVehicles-1],
                                'record': 'door_number',
                                'inputType': 'text',
                                'nameInput': ['doorNumber', counterVehicles]|join(''),
                                'idInput': ['doorNumber', counterVehicles]|join(''),
                                'labelValue': 'Nombre de portes'},
                        ] %}
                        {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                        {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                        {% set tabIndexBeforeCard = tabIndex %}
                        {% include '_form_components/_cardForm.html.twig'%}
                        {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                    </div>
                {% endfor %}
            </div>
            <div>
                {# ADD VEHICLE #}
                {% if operation == 'edit' or operation == 'add' %}
                    {# TODO : add method for vehicle#}
                    <a href="" class="btn btn-secondary btn-sm float-right mr-5" aria-label="Add">Nouveau véhicule</a>
                {% endif %}
            </div>
            <div>
                {# SUBMIT FORM AND CANCEL BUTTON#}
                {% if operation == 'edit' or operation == 'add'  %}
                    <input type="submit" value="Enregistrer" class="btn btn-primary"/>
                    <a href="/individualcustomer/cancel" class="btn btn-danger">Annuler</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}